/* Buttons (statement) */

.btn-str-agree {
    color: #4ecb29;
    border-color: #4ecb29;
} .btn-str-agree:hover {
    background-color: #4ecb29;
    border-color: #4ecb29;
}

.btn-agree {
    color: #83cc28;
    border-color: #83cc28;
} .btn-agree:hover {
    background-color: #83cc28;
    border-color: #83cc28;
}

.btn-neutral {
    color: #808080;
    border-color: #808080;
} .btn-neutral:hover {
    background-color: #808080;
    border-color: #808080;
}

.btn-disagree {
    color: #c47031;
    border-color: #c47031;
} .btn-disagree:hover {
    background-color: #c47031;
    border-color: #c47031;
}

.btn-str-disagree {
    color: #c43131;
    border-color: #c43131;
} .btn-str-disagree:hover {
    background-color: #c43131;
    border-color: #c43131;
}

/* Buttons (images) */

.btn-str-left {
    color: #7a8dbc;
    border-color: #7a8dbc;
} .btn-str-left:hover {
    background-color: #7a8dbc;
    border-color: #7a8dbc;
}

.btn-neutral-light {
    color: #959595;
    border-color: #959595;
} .btn-neutral-light:hover {
    background-color: #959595;
    border-color: #959595;
}

.btn-left {
    color: #92a1c8;
    border-color: #92a1c8;
} .btn-left:hover {
    background-color: #92a1c8;
    border-color: #92a1c8;
}

.btn-right {
    color: #d099cd;
    border-color: #d099cd;
} .btn-right:hover {
    background-color: #d099cd;
    border-color: #d099cd;
}

.btn-str-right {
    color: #c387d1;
    border-color: #c387d1;
} .btn-str-right:hover {
    background-color: #c387d1;
    border-color: #c387d1;
}

.btn-scen-a {
    color: #1298a5;
    border-color: #1298a5;
} .btn-scen-a:hover {
    background-color: #1298a5;
    border-color: #1298a5;
  }

.btn-scen-b {
    color: #a51344;
    border-color: #a51344;
} .btn-scen-b:hover {
    background-color: #a51344;
    border-color: #a51344;
  }

/* Buttons (fear) */
.btn-fear-7 {
    color: #c43131;
    border-color: #c43131;
    font-weight: 600;
} .btn-fear-7:hover {
    background-color: #c43131;
    border-color: #c43131;
}

.btn-fear-6 {
    color: #c44b31;
    border-color: #c44b31;
    font-weight: 600;
} .btn-fear-6:hover {
    background-color: #c44b31;
    border-color: #c44b31;
}

.btn-fear-5 {
    color: #c47031;
    border-color: #c47031;
    font-weight: 600;
} .btn-fear-5:hover {
    background-color: #c47031;
    border-color: #c47031;
}

.btn-fear-4 {
    color: #c4a431;
    border-color: #c4a431;
    font-weight: 600;
} .btn-fear-4:hover {
    background-color: #c4a431;
    border-color: #c4a431;
}

.btn-fear-3 {
    color: #bac431;
    border-color: #bac431;
    font-weight: 600;
} .btn-fear-3:hover {
    background-color: #bac431;
    border-color: #bac431;
}

.btn-fear-2 {
    color: #97c431;
    border-color: #97c431;
    font-weight: 600;
} .btn-fear-2:hover {
    background-color: #97c431;
    border-color: #97c431;
}

.btn-fear-1 {
    color: #64c431;
    border-color: #64c431;
    font-weight: 600;
} .btn-fear-1:hover {
    background-color: #64c431;
    border-color: #64c431;
}

/* Buttons (OCD) */
.btn-neutral-color {
    color: #bac431;
    border-color: #bac431;
} .btn-neutral-color:hover {
    background-color: #bac431;
    border-color: #bac431;
}

/* Buttons (custom) */

.btn-a51344 {
    color: #a51344;
    border-color: #a51344;
} .btn-a51344:hover {
    background-color: #a51344;
    border-color: #a51344;
}

.btn-5158bb {
    color: #5158bb;
    border-color: #5158bb;
} .btn-5158bb:hover {
    background-color: #5158bb;
    border-color: #5158bb;
}

.btn-53a548 {
    color: #53a548;
    border-color: #53a548;
} .btn-53a548:hover {
    background-color: #53a548;
    border-color: #53a548;
}

.btn-e2711d {
    color: #e2711d;
    border-color: #e2711d;
} .btn-e2711d:hover {
    background-color: #e2711d;
    border-color: #e2711d;
}

.btn-3f88c5 {
    color: #143642;
    border-color: #143642;
} .btn-3f88c5:hover {
    background-color: #143642;
    border-color: #143642;
}

.btn-ddbdd5 {
    color: #422340;
    border-color: #422340;
} .btn-ddbdd5:hover {
    background-color: #422340;
    border-color: #422340;
}

.btn-347e45 {
    color: #347e45;
    border-color: #347e45;
} .btn-347e45:hover {
    background-color: #347e45;
    border-color: #347e45;
}

.btn-e97e20 {
    color: #e97e20;
    border-color: #e97e20;
} .btn-e97e20:hover {
    background-color: #e97e20;
    border-color: #e97e20;
}

.btn-331c5e {
    color: #331c5e;
    border-color: #331c5e;
} .btn-331c5e:hover {
    background-color: #331c5e;
    border-color: #331c5e;
}

.btn-ec4649 {
    color: #ec4649;
    border-color: #ec4649;
} .btn-ec4649:hover {
      background-color: #ec4649;
      border-color: #ec4649;
}

.btn-629460 {
    color: #629460;
    border-color: #629460;
} .btn-629460:hover {
      background-color: #629460;
      border-color: #629460;
}
